<!DOCTYPE html>
<html>
<head>
	<title>Server Application</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
<h1>Total active CPUS: <%= clients.length-1 %></h1>
<% clients.map(function(client, index) { 
		if(index == 0) {
			return;
		}
 %>
 
<table>
  <tr>
    <th>Manufacturer</th>
    <th>Brand</th>
    <th>Speed</th>
    <th>Speedmax</th>
    <th>Cores</th>
    <th>Vendor</th>
  </tr>
  <tr>
    <td><%= client.cpuInfo.manufacturer %></td>
    <td><%= client.cpuInfo.brand %></td>
    <td><%= client.cpuInfo.speed %></td>
    <td><%= client.cpuInfo.speedmax %></td>
    <td><%= client.cpuInfo.cores %></td>
    <td><%= client.cpuInfo.vendor %></td>
  </tr>

</table>

<h3>Memory Info</h3>
<table>
  <tr>
    <th>Total Memory (GBs)</th>
    <th>Memory In use (GBs)</th>
    <th>Available (GBs)</th>
  </tr>
  <tr>
   <td><%= client.memInfo.total / (1024*1024*1024) %> </td>
    <td><%= client.memInfo.used / (1024*1024*1024)%></td>
    <td><%= client.memInfo.free / (1024*1024*1024) %></td>
  

  </tr>

</table>

<h3>System Info</h3>
<table>
  <tr>
    <th>Uuid</th>
    <th>Manufacturer</th>
    <th>Model</th>
  </tr>
  <tr>
   <td><%= client.systemInfo.uuid %> </td>
    <td><%= client.systemInfo.manufacturer %></td>
    <td><%= client.systemInfo.model %></td>
  

  </tr>

</table>


<h3>Disk Info</h3>
<table>
  <tr>
    <th>Disk Size (GBs)</th>
  </tr>

   <tr>
	<th><%= client.diskInfo[0].size / (1024*1024*1024) %></th>
   </tr>
</table>

<h3>Network Info</h3>
<table>
  <tr>
    <th>Network Info</th>

  </tr>
  <tr>
   <td><%= client.networkInfo[0].ip4 %> </td>
  </tr>

   <tr>
   <td><%= client.networkInfo[1].ip4 %> </td>
   </tr>

</table>
	<p><strong>Login At:</strong></p>
	<p><%= client.login_time %></p>
	<p><strong>Logout At:</strong></p>
<% }) %>	


</body>
</html>