<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>Hardware Monitor</title>

</head>
<body>

  <form method="POST" action="/">
    <label>Lab Name</label>
    <input type="text" name="lab_name" class="form-control">
    <input type="Submit" value="submit" class="btn btn-sucess submit-btn">  
  </form>

<h3>CPU INFO</h3>
<table>
  <tr>
    <th>Manufacturer</th>
    <th>Brand</th>
    <th>Speed</th>
    <th>Speedmax</th>
    <th>Cores</th>
    <th>Vendor</th>
  </tr>
  <tr>

    <td><%= cpuInfo.manufacturer %> </td>
    <td><%= cpuInfo.brand %></td>
    <td><%= cpuInfo.speed %></td>
    <td><%= cpuInfo.speedmax %> </td>
    <td> <%= cpuInfo.cores %></td>
    <td><%= cpuInfo.vendor %> </td>

  </tr>

</table>

<h3>Memory Info</h3>
<table>
  <tr>

     <th>Total Memory (GBs)</th>
  </tr>
  <tr>
   <td><%= memInfo.total / (1024*1024*1024) %> </td>

  </tr>
</table>

<h3>System Info</h3>
<table>
  <tr>
    <th>Uuid</th>
    <th>Manufacturer</th>
    <th>Model</th>
  </tr>
  <tr>
   <td><%= systemInfo.uuid %> </td>
    <td><%= systemInfo.manufacturer %></td>
    <td><%= systemInfo.model %></td>
  

  </tr>

</table>


<h3>Disk Info</h3>
<table>
  <tr>
    <th>Disk Serial</th>
    <th>Disk Size (GBs)</th>

  </tr>

  <% diskInfo.map((disk,index)=>{ %>

  <tr>
    <td> <%= diskInfo[index].serialNum %></td>
   <td><%= diskInfo[index].size/(1024*1024*1024) %> </td>
  </tr>


<% }) %> 
</table>

<h3>Network Info</h3>
<table>
  <tr>
    <th>Network Info</th>
  </tr>
  <% networkInfo.map((network,index)=>{ %>

  <tr>
   <td><%= networkInfo[index].ip4 %> </td>
  </tr>


<% }) %> 

</table>


<p>Logged In At</p>
<%= login_time %>
<script>
setTimeout(function(){
   window.location.reload(1);
}, 5000);
</script>
</body>

</html>